@use '../globals/colors' as c;
@use '../globals/variables';


.home_page_container{
   
   min-height: 100vh;

    &::before{
        content: '';
        top:0;
        bottom:0;
        right:0;
        left:0;
        position: absolute;
        background-image: url("../images/backimg1.png");
        background-position:top center;
        background-size:cover;
        opacity: .5;
        z-index: -1;
    }


   
    .home_page__header{
    
        .home_page__nav{
            width: 100% ;
            display: flex;
            flex-direction:row;
            justify-content:space-between;
            padding: 0.4em ;
            font-size: 1.2rem;
            background-color: rgba(56, 233, 59, 0.822);
            & :hover{
                text-shadow: 5px 5px 10px gray;
                color: black;
  
              }
          
            
            
            .home_page__logo{
                margin-top:auto;
                margin-bottom:auto;
                
            }
    
            .home_page__ul,.home_page__list{
                list-style-type:none;
                display: inline-block;
                padding:0.3em;
                padding-right: 1rem;
    
                & :hover{
                    // color: skyblue;
                    text-shadow: 5px 5px 10px gray;
                    transition: 0.5s ease-in-out;
                    font-size: 1.5rem;
                    color: black;
                }
                
            }
        }  // nav bar 
      }  // header

      .home_page_main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 2rem;
        padding: 1.5em;
        

        .home_page_left{
            width: 42%;
            opacity: 70%;
        }

        .home_page_right{
            background-color: rgba(56, 233, 59, 0.529);
            padding: 1em;
            color: white;
            border-radius: 0.5em;
            cursor: pointer;
            z-index: 2;
          
        }
.home_link{
    z-index: 3;
}

      }  // main part 


      


      .home_page_footer{
        // display: flex;
        // justify-content: center;
        background-color: rgba(10, 9, 9, 0.073);
        padding: 0.5em;
       width: fit-content;
       margin-left: auto;
       margin-right: auto;
       margin-top: auto;
        }

      
} // main container



